services:
  server:
    build: 
      context: .
      dockerfile: Dockerfile.server
    expose: ["8000"]
    volumes: [./artifacts:/server/artifacts]
    command: uvicorn main:app --host 0.0.0.0 --port 8000
  app:
    build: 
      context: .
      dockerfile: Dockerfile.app
    depends_on: [server]
    ports: ["8501:8501"]
    command: streamlit run streamlit_app.py --server.address=0.0.0.0 --server.port=8501
